.container{
  display: flex;
  justify-content: center;
}
.card {
    float: left;
    width: 20%;
    height: 100%;
    border: 1px solid;
    border-radius: 5px;
    margin-right: 10px;
    background: #F9F9F9;
    /*position: relative;*/
    box-shadow: 0px 0px 3px #ddd;
  }
  .card .inner {

    background: #F9F9F9;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    height: 100px;
    /*position: absolute;*/
    bottom: -1px;
    left: -1px;
    font-family: arial;
    text-align: center;
    box-shadow: inset 0px 0px 1px #FFF;
  }

  .card .inner .title {
      display: block;
      font-size: 9px;
      color: #fff;
      margin-top: -10px;
  }

  .card .inner .title .text {
      display: inline-block;
      padding: 5px 15px;
      border-radius: 50px;
      font-weight: bold;
      font-size: 150%;
  }

  .card .inner .number {
    color: #313A3E;
    font-size: 50px;
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

.card .inner .measure {
    color: #676767;
    font-size: 10px;
    display: block;
    margin-top: -10px;
}
  .temp {
    background: #EC6F69;
    border: 1px solid #DE3932;
}

.temp .inner {
    border-top: 1px solid #DE3932;
}



.temp .inner .text {
    border: 1px solid #DE3932;
    background: #EC6F69;
    text-shadow: 1px 1px 0px #DE3932;
}

img{
  width: 80%;
}


.icon{
  text-align: center;
  width: 100%;
}


.led {
  background: #59C6AF;
  border: 1px solid #0A9CAD;
}

.led .inner {
  border-top: 1px solid #0A9CAD;
}



.led .inner .text {
  border: 1px solid #0A9CAD;
  background: #59C6AF;
  text-shadow: 1px 1px 0px #0A9CAD;
}

.button {
  border-radius: 3px;
  background-color: #e7e7e7;
  color: black;
  border: 2px solid #e7e7e7;
  padding: 15px 32px;
  text-align: center;
  margin: 16px 0;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 20%;
  font-weight: bold;
}

.button:hover{
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}
.refresh{
  text-align: center;
  margin-top: 3%;
}



/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .card {
    width: 40%;
  }
  .button{
    width: 40%;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .card {
    width: 50%;
  }
  .button{
    width: 50%;
  }
}


/* On screens that are 320px or less, set the background color to olive */
@media screen and (max-width: 320px) {
  .card {
    width: 100%;
  }
  .button{
    width: 100%;
  }
  .container{
    flex-direction: column;
  }

  .card{
    margin: 2%;
  }
}
